//   Created by Aplus on 2016-02-14.
extends layout

block content
    h1= title
    p Welcome to #{title}
    hr
    - if (id)
        h2 hello  #{id}
        a(href = '/signout') SignOut
    - else
        a(href = '/signin') SingIn
        a(href = '/signup') SignUp