//
   Created by Aplus on 2016-02-17.

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
        link(rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="./stylesheet/signin.css")

    body
        - for (i in messages)
            .flash(class="alert alert-danger")= messages[i]
        .container
            form(action='/signin' method='post')
                h2(class="form -signin-geading") 로그인해주세요
                label(class="sr-only") Username
                input(type='text' name='username' class='form-control' placeholder='User name' required='' autofocus='')
                label(class="sr-only") Password
                input(type='password' name='password' class='form-control' placeholder='Password' required='')
                input(class="btn btn-lg btn-primary btn-block" type='submit' value="로그인")
