//  Created by Aplus on 2016-02-17.
doctype html
html
    head

    body
        - for (i in messages)
            .flash= messages[i]
        .container
            form(action='/signup' method='post')
                h2 가입하기
                label Username
                input(type='text' name='username' placeholder='User name' required='' autofocus='')
                label Password
                input(type='password' name='password'  placeholder='Password' required='')
                input(type='submit' value="가입하기")
